@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #486b89;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, Helvetica, sans-serif;
}
.form-conatiner {
  margin: 40px auto 0;
  form {
    margin: 20px 0 40px;
  }
  input {
    padding: 10px;
  }
  button {
    padding: 10px;
  }
}
.weatherforecast {
  margin-top: 70px;

  & > div {
    background: linear-gradient(45deg,#a2dff5, rgb(176, 200, 208));
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }
  svg {
    width: 100px;
    height: 100px;
    stroke: #fff;
  }
}

.todayforecast {
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(45deg,#a2dff5, rgb(176, 200, 208));
  .card-left {
    svg {
      display: inline-block;
    }
  }
  .todayicon {
    svg {
      width: 150px;
      height: 150px;
    }
  }

}