@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #486b89;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeeeeef;
    --foreground: #8b8b8bee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, Helvetica, sans-serif;
}
.form-conatiner {
  margin: 40px auto 0;
  form {
    margin: 20px 0 40px;
  }
  input {
    padding: 10px;
  }
  button {
    padding: 10px;
    color: #fff;
  }
}
.weatherforecast {
  margin-top: 70px;

  & > div {
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }
  svg {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    stroke: black;
  }
}

.todayforecast {
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  color:black;
  .card-left,.card-right {
    svg {
      display: inline-block;
    }
  }
  .todaybottomdata > div {
    display: inline-flex;
    svg {
      margin-right: 10px;
    }
  }

}